.App{
  display: flex;
  padding: 5px;
  margin: auto;
  border: 2px solid black;
  /* display: flex; */
  /* flex-direction: row; */
}

.card{
  border: 2px solid red;
  padding: 5px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.innerCard{
  border: 2px solid green;
  margin: 1rem;
  padding: 1rem;
}

.flex {
  display:flex
}

.just-center{
  justify-content: center;
}

.align-center{
  align-items: center;
}


.form{
  display: flex;
  flex-direction: column;
  width: 500px;
  row-gap: 10px;
  
}